APP_VERSION=0.0.1

DATABASE_URL_TEST=mongodb://localhost:27017/seu_db_test
DATABASE_URL_PRODUCTION=mongodb://url_server
DATABASE_URL_DEVELOPMENT=mongodb://localhost:27017/seu_db_dev
PORT=3000
PORT_TEST=3002

TIMEZONE=2

SECRET=sua_key